<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>absentCircleWithNoReason</key>
	<false/>
	<key>applicationDate</key>
	<date>2023-07-08T16:59:01Z</date>
	<key>lastCircleStatus</key>
	<integer>0</integer>
	<key>lastWritten</key>
	<date>2024-02-15T17:29:53Z</date>
	<key>pendingApplicationReminder</key>
	<date>2023-07-09T16:59:01Z</date>
	<key>pendingApplicationReminderInterval</key>
	<integer>86400</integer>
</dict>
</plist>
