<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FFShareDestinationsKey</key>
	<data>
	YnBsaXN0MDDUAAEAAgADAAQABQAGAAcAClgkdmVyc2lvblkkYXJjaGl2ZXJUJHRvcFgk
	b2JqZWN0cxIAAYagXxAPTlNLZXllZEFyY2hpdmVy0QAIAAlUcm9vdIABrxB7AAsADAAX
	ADUANgA3AEUASgBTAFQAVQBfAGAAZgBnAGsAcwB4AHkAfACAAIQAhQCLAJIAkwCYAEQA
	QACaAJsAnAChALwAvQC+AMUAxgDKANIA0wDUANkA2gDbAN8A4ADhAOIA4wDkAOUA5gDr
	AQABBwEIAQwBFAEZARoBGwEcAR0BHgEzATQBNQE8AT0BQQFJAU4BTwFSAVUBVgFaAV8B
	YAFhAWIBYwFkAWUBZgFnAWgBfAF9AX4BhQGGAYoBkgGXAZgBmwGeAZ8BoAGhAaIBowG3
	AbgBvwHAAcQBzAHNAc4B0wHUAdcB2gHbAdwAXQHdAd4B3wHgVSRudWxs0gANAA4ADwAW
	Wk5TLm9iamVjdHNWJGNsYXNzpgAQABEAEgATABQAFYACgCCANYBAgFeAZ4B63xAPABgA
	GQAaABsAHAAdAB4AHwAgACEAIgAjAA4AJAAlACYAJwAoACkAKgArACwAKAAuAC8AJwAs
	ADIAJwA0XxAhRkZTaGFyZURlc3RpbmF0aW9uVmlkZW9SZXNvbHV0aW9uXXN0b3JlcGFz
	c3dvcmRfEBRleHBvcnRJbk91dFJhbmdlT25seV8QFG9yaWdpbmFsU2V0dGluZ3NOYW1l
	XxATbWF4X3BhcmFsbGVsaXphdGlvblR1dWlkXWNvbG9yQ2hhbm5lbHNfEBZpbmNsdWRl
	c0NoYXB0ZXJNYXJrZXJzV3NldHRpbmdUdHlwZV8QFXVzZXJIYXNDaGFuZ2VkVGhlTmFt
	ZVpjb2xvclNwYWNlXxAYZXhwb3J0U2VsZWN0ZWRMYXllcnNPbmx5VG5hbWWAHYANgBuA
	GhAAgB6AHIAbgAWAA4ANgByAH4ANgARTRFZEUNcADgA4ADkAOgA7ADwAPQA+AD8AQABB
	AEIALwBEVmFjdGlvbld2ZXJzaW9uW2Rlc2NyaXB0aW9uXHNldHRpbmdzSW5mb1RuYW1l
	XxAhc2hvdWxkUGVyZm9ybVBvc3RQcm9jZXNzaW5nQWN0aW9ugBmAExAAgBiABoADCdIA
	DQAOAEYASaIARwBIgAeAD4AS0wBLAA0ADgBMAE8AUldOUy5rZXlzogBNAE6ACIAJogBQ
	ACeACoANgA5eQ0tTdG9tcFNldHRpbmdfEBVDS1N0b21wU2V0dGluZ0VuYWJsZWTVAFYA
	DgBXAFgAWQBEAFsAXABdAF5YZWRpdGFibGVZY29udGFpbmVyXGNsYXNzVmVyc2lvblN4
	bWwJgAyAABABgAtfEQg7PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgi
	IHN0YW5kYWxvbmU9InllcyI/PjxzZXR0aW5nIG5hbWU9IkRvbGJ5JTIwRGlnaXRhbCI+
	PHZlcnNpb24+NDA5NjAwPC92ZXJzaW9uPjxkZXNjcmlwdGlvbj5Eb2xieSUyMERpZ2l0
	YWwlMjBmb3IlMjBEVkQsJTIwQmx1LXJheSUyMGFuZCUyMEFWQ0hEJTIwYXV0aG9yaW5n
	LjwvZGVzY3JpcHRpb24+PGRlZmF1bHQtZGVzdGluYXRpb24+PC9kZWZhdWx0LWRlc3Rp
	bmF0aW9uPjxuYW1lS2V5PnNkQUMzRGlzY05hbWU8L25hbWVLZXk+PGRlc2NyaXB0aW9u
	S2V5PnNkQUMzRGlzY0Rlc2NyaXB0aW9uPC9kZXNjcmlwdGlvbktleT48ZW5jb2RlciBu
	YW1lPSJBQzMiPjx2aWRlby1lbmNvZGUgaXNFbmFibGVkPSJubyIvPjxhdWRpby12aWRl
	by1lbmNvZGUgaXNFbmFibGVkPSJubyIvPjxmaWxlLWV4dGVuc2lvbj5hYzM8L2ZpbGUt
	ZXh0ZW5zaW9uPjxqb2ItY2FuLWJlLXNlZ21lbnRlZD5ubzwvam9iLWNhbi1iZS1zZWdt
	ZW50ZWQ+PGR1cmF0aW9uLWNoYW5nZSBmYWN0b3I9IjEwMCIgbmV3LWR1cmF0aW9uPSIi
	IHNvdXJjZS1hdC1vdXRwdXQ9Im5vIi8+PG1hcmtlci1pbWFnZSB3aWR0aD0iMCIgaGVp
	Z2h0PSIwIi8+PGVuY29kZS1jYz55ZXM8L2VuY29kZS1jYz48ZW5jb2RlLWNoYXB0ZXJz
	PnllczwvZW5jb2RlLWNoYXB0ZXJzPjxpbmNsdWRlLWhpZGRlbi1tZXRhZGF0YT55ZXM8
	L2luY2x1ZGUtaGlkZGVuLW1ldGFkYXRhPjxtZXRhZGF0YS1vcHRpb25zPjE8L21ldGFk
	YXRhLW9wdGlvbnM+PGF1ZGlvLWVuY29kZSBuYW1lPSJBQzMiIGlzRW5hYmxlZD0ieWVz
	Ij48YXV0by1jaGFubmVsX2xheW91dD55ZXM8L2F1dG8tY2hhbm5lbF9sYXlvdXQ+PGF1
	dG8tY2hhbm5lbF9zYW1wbGVTaXplPm5vPC9hdXRvLWNoYW5uZWxfc2FtcGxlU2l6ZT48
	YXV0by1mb3JtYXRfc2FtcGxlUmF0ZT5ubzwvYXV0by1mb3JtYXRfc2FtcGxlUmF0ZT48
	YXVkaW8tZm9ybWF0LWluZm8+NDgwMDAuMDAwMDAwIDAgMTYgNDgwMDAgTiA5NjMzNzky
	IE48L2F1ZGlvLWZvcm1hdC1pbmZvPjxkZWVtcGhhc2lzPm5vPC9kZWVtcGhhc2lzPjxw
	aGFzZTkwPnllczwvcGhhc2U5MD48YXR0ZW51YXRpb24+bm88L2F0dGVudWF0aW9uPjxs
	ZmVMb3dwYXNzRmlsdGVyPnllczwvbGZlTG93cGFzc0ZpbHRlcj48ZGNIaWdocGFzc0Zp
	bHRlcj55ZXM8L2RjSGlnaHBhc3NGaWx0ZXI+PENCTG93cGFzc0ZpbHRlcj55ZXM8L0NC
	TG93cGFzc0ZpbHRlcj48cmZQcm90ZWN0aW9uPm5vPC9yZlByb3RlY3Rpb24+PGFwaUV4
	aXN0cz5ubzwvYXBpRXhpc3RzPjxvcmlnaW5hbD55ZXM8L29yaWdpbmFsPjxjb3B5cmln
	aHQ+eWVzPC9jb3B5cmlnaHQ+PGRpYWxOb3JtPjI3PC9kaWFsTm9ybT48bGZlRXhpc3Rz
	Pm5vPC9sZmVFeGlzdHM+PG5hdGl2ZUZvcm1hdD5ubzwvbmF0aXZlRm9ybWF0Pjxkb2xi
	eURpZ2l0YWxQbHVzPjA8L2RvbGJ5RGlnaXRhbFBsdXM+PGRhdGFSYXRlLXBsdXM+MTky
	PC9kYXRhUmF0ZS1wbHVzPjxzdGVyZW9Eb3dubWl4PjA8L3N0ZXJlb0Rvd25taXg+PHRh
	cmdldFN5c3RlbT5EVkRWaWRlbzwvdGFyZ2V0U3lzdGVtPjxEUkNSRk1vZGU+RmlsbVN0
	YW5kYXJkPC9EUkNSRk1vZGU+PERSQ0xpbmVNb2RlPkZpbG1TdGFuZGFyZDwvRFJDTGlu
	ZU1vZGU+PGF1ZGlvQ29kaW5nTW9kZT5kZWZhdWx0PC9hdWRpb0NvZGluZ01vZGU+PGJp
	dFN0cmVhbU1vZGU+Q008L2JpdFN0cmVhbU1vZGU+PExvUm9DZW50ZXJNaXhMZXZlbD4t
	M2RCPC9Mb1JvQ2VudGVyTWl4TGV2ZWw+PExvUm9TdXJyb3VuZE1peExldmVsPi0zZEI8
	L0xvUm9TdXJyb3VuZE1peExldmVsPjxMdFJ0Q2VudGVyTWl4TGV2ZWw+LTNkQjwvTHRS
	dENlbnRlck1peExldmVsPjxMdFJ0U3Vycm91bmRNaXhMZXZlbD4tM2RCPC9MdFJ0U3Vy
	cm91bmRNaXhMZXZlbD48ZG9sYnlTdXJyb3VuZE1vZGU+Tm9JbmRpY2F0aW9uPC9kb2xi
	eVN1cnJvdW5kTW9kZT48ZG9sYnlTdXJyb3VuZEVYTW9kZT5Ob0luZGljYXRpb248L2Rv
	bGJ5U3Vycm91bmRFWE1vZGU+PHJvb21UeXBlPlNtYWxsPC9yb29tVHlwZT48YW50aWNp
	cGF0ZWRPdXRwdXQ+MzI8L2FudGljaXBhdGVkT3V0cHV0PjwvYXVkaW8tZW5jb2RlPjwv
	ZW5jb2Rlcj48ZmlsdGVyLXNldC8+PC9zZXR0aW5nPtIAYQBiAGMAZFokY2xhc3NuYW1l
	WCRjbGFzc2VzV1NldHRpbmeiAGMAZVhOU09iamVjdAjSAGEAYgBoAGlfEBNOU011dGFi
	bGVEaWN0aW9uYXJ5owBoAGoAZVxOU0RpY3Rpb25hcnnTAEsADQAOAGwAbwBSogBNAE6A
	CIAJogBwACeAEIANgA7VAFYADgBXAFgAWQBEAFsAXABdAHcJgAyAAIARXxEKEzw/eG1s
	IHZlcnNpb249IjEuMCIgZW5jb2Rpbmc9IlVURi04IiBzdGFuZGFsb25lPSJ5ZXMiPz48
	c2V0dGluZyBuYW1lPSJNUEVHLTIlMjBmb3IlMjBEVkQiPjx2ZXJzaW9uPjQwOTYwMDwv
	dmVyc2lvbj48ZGVzY3JpcHRpb24+TVBFRy0yJTIwZWxlbWVudGFyeSUyMHN0cmVhbSUy
	MGZvciUyMERWRCUyMEF1dGhvcmluZy48L2Rlc2NyaXB0aW9uPjxkZWZhdWx0LWRlc3Rp
	bmF0aW9uPjwvZGVmYXVsdC1kZXN0aW5hdGlvbj48bmFtZUtleT5zZE1QRUcyRGlzY05h
	bWU8L25hbWVLZXk+PGRlc2NyaXB0aW9uS2V5PnNkTVBFRzJEaXNjRGVzY3JpcHRpb248
	L2Rlc2NyaXB0aW9uS2V5PjxlbmNvZGVyIG5hbWU9Ik0yViI+PGF1ZGlvLXZpZGVvLWVu
	Y29kZSBpc0VuYWJsZWQ9Im5vIi8+PGZpbGUtZXh0ZW5zaW9uPm0ydjwvZmlsZS1leHRl
	bnNpb24+PGpvYi1jYW4tYmUtc2VnbWVudGVkPnllczwvam9iLWNhbi1iZS1zZWdtZW50
	ZWQ+PGR1cmF0aW9uLWNoYW5nZSBmYWN0b3I9IjEwMCIgbmV3LWR1cmF0aW9uPSIiIHNv
	dXJjZS1hdC1vdXRwdXQ9Im5vIi8+PG1hcmtlci1pbWFnZSB3aWR0aD0iMCIgaGVpZ2h0
	PSIwIi8+PGVuY29kZS1jYz55ZXM8L2VuY29kZS1jYz48ZW5jb2RlLWNoYXB0ZXJzPnll
	czwvZW5jb2RlLWNoYXB0ZXJzPjxpbmNsdWRlLWhpZGRlbi1tZXRhZGF0YT55ZXM8L2lu
	Y2x1ZGUtaGlkZGVuLW1ldGFkYXRhPjxtZXRhZGF0YS1vcHRpb25zPjE8L21ldGFkYXRh
	LW9wdGlvbnM+PHZpZGVvLWVuY29kZSBuYW1lPSJNMlYiIGlzRW5hYmxlZD0ieWVzIj48
	Ym91bmRzIHdpZHRoPSItMTAwIiBoZWlnaHQ9Ii0xMDAiIHBpeGVsQXNwZWN0PSIwIi8+
	PGNyb3AgbGVmdD0iMCIgdG9wPSIwIiByaWdodD0iMCIgYm90dG9tPSIwIi8+PHBhZGRp
	bmcgbGVmdD0iMCIgdG9wPSIwIiByaWdodD0iMCIgYm90dG9tPSIwIi8+PGZyYW1lLXJh
	dGU+LTEwMC4wMDAwMDA8L2ZyYW1lLXJhdGU+PGF1dG9tYXRpYyB2aWRlby1jb252ZXJz
	aW9uPSIiIGNvbG9yLXNwZWM9IiIgd2lkdGg9Ii0xMDAiIGhlaWdodD0iLTEwMCIgZnJh
	bWUtcmF0ZT0iLTEwMCIgY3JvcD0ibm8iIGF1dG8tcGFkPSIwIiBjZW50ZXItY3JvcD0i
	MCIgZmllbGQtZG9taW5hbmNlPSJ5ZXMiLz48dmlkZW8tY29udmVyc2lvbj4xIDMgMSAw
	IE4gMCAxMDAgMCAwIDA8L3ZpZGVvLWNvbnZlcnNpb24+PGNvbG9yLXNwZWM+MDwvY29s
	b3Itc3BlYz48Y29tcHV0ZWQtcGFkPm5vPC9jb21wdXRlZC1wYWQ+PGNvbXB1dGVkLWNy
	b3A+bm88L2NvbXB1dGVkLWNyb3A+PHJvdGF0aW9uPjA8L3JvdGF0aW9uPjxmbGlwPjA8
	L2ZsaXA+PGNvbG9yLXNwYWNlIHByaW1hcmllcz0iMiIgdHJhbnNmZXI9IjIiIG1hdHJp
	eD0iMiIvPjxjb2xvci1zcGVjLWRlZmF1bHQ+LTEwMDA8L2NvbG9yLXNwZWMtZGVmYXVs
	dD48cmF3LXRvLWxvZz4wPC9yYXctdG8tbG9nPjxjYW1lcmEtbHV0PjA8L2NhbWVyYS1s
	dXQ+PGNhbWVyYS1sdXQtY29sb3I+LTEwMDA8L2NhbWVyYS1sdXQtY29sb3I+PGNhbWVy
	YS1sb2ctZGVmYXVsdD4tMTAwMDwvY2FtZXJhLWxvZy1kZWZhdWx0PjxpZ25vcmUtY3Jv
	cC1kdXJpbmctcHJvY2Vzc2luZz5ubzwvaWdub3JlLWNyb3AtZHVyaW5nLXByb2Nlc3Np
	bmc+PGRpdGhlcmluZy1zZXR0aW5nPjA8L2RpdGhlcmluZy1zZXR0aW5nPjxlbWJlZGRl
	ZF9kb3Zpc19mb3JtYXQ+MDwvZW1iZWRkZWRfZG92aXNfZm9ybWF0PjxwdXJwb3NlLWdy
	b3VwLz48YW5hbW9ycGhpYz5ubzwvYW5hbW9ycGhpYz48YXV0by1hbmFtb3JwaGljPnll
	czwvYXV0by1hbmFtb3JwaGljPjxhdmctZGF0YS1yYXRlPjU8L2F2Zy1kYXRhLXJhdGU+
	PG1heC1kYXRhLXJhdGU+Ny41PC9tYXgtZGF0YS1yYXRlPjx0d28tcGFzcz5ubzwvdHdv
	LXBhc3M+PGJlc3QtcXVhbGl0eT55ZXM8L2Jlc3QtcXVhbGl0eT48bW90aW9uLWVzdGlt
	YXRpb24+MjwvbW90aW9uLWVzdGltYXRpb24+PGJpdC1yYXRlLWF1dG9tYXRpYz55ZXM8
	L2JpdC1yYXRlLWF1dG9tYXRpYz48Z29wLXNpemU+MDwvZ29wLXNpemU+PGdvcC1zdHJ1
	Y3R1cmU+SUJCUDwvZ29wLXN0cnVjdHVyZT48b3Blbi1nb3A+bm88L29wZW4tZ29wPjxk
	c3AtbWV0YWRhdGE+eWVzPC9kc3AtbWV0YWRhdGE+PGNoYXB0ZXItbWFya2Vycy1vbmx5
	Pm5vPC9jaGFwdGVyLW1hcmtlcnMtb25seT48dXNlLTQyMi1jb2xvcj5ubzwvdXNlLTQy
	Mi1jb2xvcj48L3ZpZGVvLWVuY29kZT48YXVkaW8tZW5jb2RlIG5hbWU9Ik1QRUciIGlz
	RW5hYmxlZD0ibm8iPjxhdXRvLWNoYW5uZWxfbGF5b3V0Pm5vPC9hdXRvLWNoYW5uZWxf
	bGF5b3V0PjxhdXRvLWNoYW5uZWxfc2FtcGxlU2l6ZT5ubzwvYXV0by1jaGFubmVsX3Nh
	bXBsZVNpemU+PGF1dG8tZm9ybWF0X3NhbXBsZVJhdGU+bm88L2F1dG8tZm9ybWF0X3Nh
	bXBsZVJhdGU+PGF1ZGlvLWZvcm1hdC1pbmZvPjQ4MDAwLjAwMDAwMCAyIDE2IDQ4MDAw
	IE4gNjYxOTEzOCBOPC9hdWRpby1mb3JtYXQtaW5mbz48ZGF0YS1yYXRlPjM4NDAwMDwv
	ZGF0YS1yYXRlPjwvYXVkaW8tZW5jb2RlPjxtdXhlZC10eXBlPjEwMDwvbXV4ZWQtdHlw
	ZT48c3RyZWFtLWNvbnN0cmFpbnQ+MDwvc3RyZWFtLWNvbnN0cmFpbnQ+PC9lbmNvZGVy
	PjxmaWx0ZXItc2V0Lz48L3NldHRpbmc+0gBhAGIAegB7V05TQXJyYXmiAHoAZdIAfQAO
	AH4Af1lqb2JBY3Rpb26AFIAX0gCBAA4AggCDWWpvYkFjdGlvboAVgBZfEQFwPD94bWwg
	dmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/Pjxq
	b2JBY3Rpb24ga2luZD0iZHZkIiBuYW1lPSJOT05FIiBmbGFncz0iMSIgam9iLWNvdW50
	PSIxIiBkZWZhdWx0LXRpdGxlPSIiIHZvbHVtZU5hbWU9IlVOVElUTEVEJTVGRElTQyIg
	ZGlzY05hbWU9IlVudGl0bGVkIiBkaXNjVGVtcGxhdGVOYW1lPSJCbGFjayIgZGV2aWNl
	SUQ9IiUyRiIgZGV2aWNlSU9SZWdQYXRoPSIiIGRpc2NMYXllcnM9IjAiIGZpcnN0UGxh
	eT0iMCIgdmlkZW9TeXN0ZW09IjAiIG91dHB1dEltYWdlQnVpbGRUeXBlPSIwIiBkaXNj
	Rm9ybWF0PSIxIiBpbmRleD0idHJ1ZSIgc3VidGl0bGVzPSJmYWxzZSIgbG9vcD0iZmFs
	c2UiLz7SAGEAYgCGAIdcRFZESm9iQWN0aW9upACIAIkAigBlXERWREpvYkFjdGlvbl8Q
	E0NyZWF0ZURpc2NKb2JBY3Rpb25ZSm9iQWN0aW9u0gBhAGIAjACNXkNLRFZESm9iQWN0
	aW9upQCOAI8AkACRAGVeQ0tEVkRKb2JBY3Rpb25fEBVDS0NyZWF0ZURpc2NKb2JBY3Rp
	b25bQ0tKb2JBY3Rpb25YQ0tBY3Rpb25fEGxEb2xieSBEaWdpdGFsIFByb2Zlc3Npb25h
	bCBmb3IgRFZELCBCbHUtcmF5IGFuZCBBVkNIRCBhdXRob3JpbmcuIE1QRUctMiBlbGVt
	ZW50YXJ5IHN0cmVhbSBmb3IgRFZEIEF1dGhvcmluZy7SAGEAYgCUAJVcQ0tEVkRTZXR0
	aW5nowCWAJcAZVxDS0RWRFNldHRpbmdZQ0tTZXR0aW5nVUZGRFZECVZ7MCwgMH1fECQ1
	QTc2RTc3Ri1FNTQ5LTRGOEEtQjMyQy1GN0Q1NzdFNDdFMzPSAGEAYgCdAJ5fEBVGRlNo
	YXJlRFZERGVzdGluYXRpb26jAJ8AoABlXxAVRkZTaGFyZURWRERlc3RpbmF0aW9uXxAS
	RkZTaGFyZURlc3RpbmF0aW9u3xAVABoAHACiAKMAHgCkACAAHwAOAB0AJQAhABsAIgAk
	AKUApgAYAKcAGQAjACgAKgBcAKoALACsAK0AKACvALAAsQCyALMAJwAnACcAtwC4ALkA
	JwAsXxAWc2VsZWN0ZWRSb2xlUHJlc2V0TmFtZV8QHHNlbGVjdGVkUmVuZGVyRm9ybWF0
	TmFtZU5hbWVcZXhwb3J0T3B0aW9uXxAWam9iQWN0aW9uVXNlc0hlbHBlckFwcF8QHXNl
	bGVjdGVkVmlkZW9TdG9tcFNldHRpbmdOYW1lXxAdc2VsZWN0ZWRBdWRpb1N0b21wU2V0
	dGluZ05hbWWAG4AAgDKAHIAwgCOAG4A0gC+AIoAhgC2ADYANgA2AMYAugDOADYAcXEV4
	cG9ydCBNZWRpYV8QEkFwcGxlIERldmljZXMgNzIwcNcADgA4ADkAOgA7ADwAPQC/AFwA
	QADBAMIAwwBmgCyAAIArgCWAJAhfEBBFeHBvcnRNb3ZpZVJvbGVz0gANAA4AxwBJoQDI
	gCaAEtMASwANAA4AywDOAFKiAMwAzYAngCiiAM8AKIApgBuADl5DS1N0b21wU2V0dGlu
	Z18QFUNLU3RvbXBTZXR0aW5nRW5hYmxlZNUAVgAOAFcAWABZAEQAWwBcAF0A2AmADIAA
	gCpfEQ4uPD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxv
	bmU9InllcyI/PjxzZXR0aW5nIG5hbWU9IkguMjY0JTIwU2luZ2xlLXBhc3MlMjAoRmFz
	dGVyKSI+PHZlcnNpb24+NDA5NjAwPC92ZXJzaW9uPjxkZXNjcmlwdGlvbj5NUEVHLTQl
	MjBmaWxlJTIwZm9yJTIwcGxheWJhY2slMjBvbiUyMGlQb2RzLCUyMGlPUyUyMGFuZCUy
	MGlQYWRPUyUyMGRldmljZXMsJTIwYW5kJTIwQXBwbGUlQzIlQTBUVi48L2Rlc2NyaXB0
	aW9uPjxkZWZhdWx0LWRlc3RpbmF0aW9uPjwvZGVmYXVsdC1kZXN0aW5hdGlvbj48bmFt
	ZUtleT5FRkJpT1NOYW1lS2V5PC9uYW1lS2V5PjxkZXNjcmlwdGlvbktleT5FRkJpT1NE
	ZXNjS2V5PC9kZXNjcmlwdGlvbktleT48ZW5jb2RlciBuYW1lPSJIMjY0aVBvZCI+PGF1
	ZGlvLXZpZGVvLWVuY29kZSBpc0VuYWJsZWQ9Im5vIi8+PGZpbGUtZXh0ZW5zaW9uPm00
	djwvZmlsZS1leHRlbnNpb24+PGpvYi1jYW4tYmUtc2VnbWVudGVkPm5vPC9qb2ItY2Fu
	LWJlLXNlZ21lbnRlZD48ZHVyYXRpb24tY2hhbmdlIGZhY3Rvcj0iMTAwIiBuZXctZHVy
	YXRpb249IiIgc291cmNlLWF0LW91dHB1dD0ibm8iLz48bWFya2VyLWltYWdlIHdpZHRo
	PSIwIiBoZWlnaHQ9IjAiLz48ZW5jb2RlLWNjPnllczwvZW5jb2RlLWNjPjxlbmNvZGUt
	Y2hhcHRlcnM+eWVzPC9lbmNvZGUtY2hhcHRlcnM+PGF1dG8tYml0LXJhdGUtcHVycG9z
	ZT4yPC9hdXRvLWJpdC1yYXRlLXB1cnBvc2U+PGluY2x1ZGUtaGlkZGVuLW1ldGFkYXRh
	PnllczwvaW5jbHVkZS1oaWRkZW4tbWV0YWRhdGE+PG1ldGFkYXRhLW9wdGlvbnM+MTwv
	bWV0YWRhdGEtb3B0aW9ucz48YXVkaW8tZW5jb2RlIG5hbWU9Ik1QRUc0IiBpc0VuYWJs
	ZWQ9InllcyI+PGF1dG8tY2hhbm5lbF9sYXlvdXQ+eWVzPC9hdXRvLWNoYW5uZWxfbGF5
	b3V0PjxhdXRvLWNoYW5uZWxfc2FtcGxlU2l6ZT5ubzwvYXV0by1jaGFubmVsX3NhbXBs
	ZVNpemU+PGF1dG8tZm9ybWF0X3NhbXBsZVJhdGU+eWVzPC9hdXRvLWZvcm1hdF9zYW1w
	bGVSYXRlPjxhdWRpby1mb3JtYXQtaW5mbz40ODAwMC4wMDAwMDAgMiAxNiA0ODAwMCBO
	IDY2MTkxMzggTjwvYXVkaW8tZm9ybWF0LWluZm8+PGNvZGVjLXR5cGU+YWFjIDwvY29k
	ZWMtdHlwZT48cXVhbGl0eT45NjwvcXVhbGl0eT48YXVkaW8tZW5jb2Rpbmctc3RyYXRl
	Z3k+LTE8L2F1ZGlvLWVuY29kaW5nLXN0cmF0ZWd5PjxhdWRpby1lbmNvZGluZy1iaXRy
	YXRlPjEyODAwMDwvYXVkaW8tZW5jb2RpbmctYml0cmF0ZT48L2F1ZGlvLWVuY29kZT48
	dmlkZW8tZW5jb2RlIG5hbWU9IlFUIiBpc0VuYWJsZWQ9InllcyI+PGJvdW5kcyB3aWR0
	aD0iLTEwMCIgaGVpZ2h0PSItMTAwIiBwaXhlbEFzcGVjdD0iMCIvPjxjcm9wIGxlZnQ9
	IjAiIHRvcD0iMCIgcmlnaHQ9IjAiIGJvdHRvbT0iMCIvPjxwYWRkaW5nIGxlZnQ9IjAi
	IHRvcD0iMCIgcmlnaHQ9IjAiIGJvdHRvbT0iMCIvPjxmcmFtZS1yYXRlPi0xMDAuMDAw
	MDAwPC9mcmFtZS1yYXRlPjxhdXRvbWF0aWMgdmlkZW8tY29udmVyc2lvbj0iIiBjb2xv
	ci1zcGVjPSIiIHdpZHRoPSItMTI4MCIgaGVpZ2h0PSIxMjgwIiBmcmFtZS1yYXRlPSIt
	MTAwIiBjcm9wPSJubyIgYXV0by1wYWQ9IjAiIGNlbnRlci1jcm9wPSIwIiBmaWVsZC1k
	b21pbmFuY2U9Im5vIi8+PHZpZGVvLWNvbnZlcnNpb24+MSAzIDEgMCBOIDAgMSAwIDAg
	MDwvdmlkZW8tY29udmVyc2lvbj48Y29sb3Itc3BlYz4wPC9jb2xvci1zcGVjPjxjb21w
	dXRlZC1wYWQ+bm88L2NvbXB1dGVkLXBhZD48Y29tcHV0ZWQtY3JvcD5ubzwvY29tcHV0
	ZWQtY3JvcD48cm90YXRpb24+MDwvcm90YXRpb24+PGZsaXA+MDwvZmxpcD48Y29sb3It
	c3BhY2UgcHJpbWFyaWVzPSIyIiB0cmFuc2Zlcj0iMiIgbWF0cml4PSIyIi8+PGNvbG9y
	LXNwZWMtZGVmYXVsdD4tMTAwMDwvY29sb3Itc3BlYy1kZWZhdWx0PjxyYXctdG8tbG9n
	PjA8L3Jhdy10by1sb2c+PGNhbWVyYS1sdXQ+MDwvY2FtZXJhLWx1dD48Y2FtZXJhLWx1
	dC1jb2xvcj4tMTAwMDwvY2FtZXJhLWx1dC1jb2xvcj48Y2FtZXJhLWxvZy1kZWZhdWx0
	Pi0xMDAwPC9jYW1lcmEtbG9nLWRlZmF1bHQ+PGlnbm9yZS1jcm9wLWR1cmluZy1wcm9j
	ZXNzaW5nPm5vPC9pZ25vcmUtY3JvcC1kdXJpbmctcHJvY2Vzc2luZz48ZGl0aGVyaW5n
	LXNldHRpbmc+MDwvZGl0aGVyaW5nLXNldHRpbmc+PGVtYmVkZGVkX2RvdmlzX2Zvcm1h
	dD4wPC9lbWJlZGRlZF9kb3Zpc19mb3JtYXQ+PHB1cnBvc2UtZ3JvdXAvPjxjb2RlYy10
	eXBlPmF2YzE8L2NvZGVjLXR5cGU+PGNvZGVjLW1hbnVmYWN0dXJlcj5hcHBsPC9jb2Rl
	Yy1tYW51ZmFjdHVyZXI+PGZhbWlseS1jb2RlYy1jb25maWd1cmVkPm5vPC9mYW1pbHkt
	Y29kZWMtY29uZmlndXJlZD48c3BhdGlhbCBwaXhlbERlcHRoPSIyNCIgbWluUXVhbGl0
	eT0iNTEyIiBxdWFsaXR5PSI1MTIiLz48dGVtcG9yYWwga2V5RnJhbWVJbnRlcnZhbD0i
	MCIgbWluUXVhbGl0eT0iNTEyIiBxdWFsaXR5PSI1MTIiIHBhcnRpYWwtc3luYz0iMCIv
	PjxpY20yLW9wdGlvbnMgbWF4LXBhc3Nlcz0iMSIgYWxsb3ctZnJhbWUtcmVvZGVyPSJ5
	ZXMiLz48ZGF0YS1yYXRlPjExMDgzMzM8L2RhdGEtcmF0ZT48ZGF0YS1yYXRlLWxpbWl0
	LXBlcmNlbnRhZ2U+MDwvZGF0YS1yYXRlLWxpbWl0LXBlcmNlbnRhZ2U+PGRhdGEtcmF0
	ZS1saW1pdC1kdXJhdGlvbj4xPC9kYXRhLXJhdGUtbGltaXQtZHVyYXRpb24+PGVuY29k
	ZXItcHJvcGVydGllcz48IVtDREFUQVtZbkJzYVhOME1ERFNBUUlERVY4UUVHTnZaR1Zq
	TFhCeWIzQmxjblJwWlhOYVpXNWpiMlJsY2kxcFpOSUVCUVlOWHhBUFNESTJORVZ1ZEhK
	dmNIbE5iMlJsWEZCeWIyWnBiR1ZNWlhabGJOTUhDQWtLQ3d4YmIySnFaV04wVm1Gc2RX
	VmJhWE5FWldaaGRXeDBTRkZiWkdWelkzSnBjSFJwYjI1VlEwRkNRVU1KVlVOQlFrRkQw
	d2NJQ1E0TEVGOFFFMGd5TmpSZlNHbG5hRjlCZFhSdlRHVjJaV3dKVkVocFoyaFVZWFpq
	TVFnTklDc3dRazlXWW01NmdJR0hqcVNscWdBQUFBQUFBQUVCQUFBQUFBQUFBQklBQUFB
	QUFBQUFBQUFBQUFBQUFBQ3ZdXT48L2VuY29kZXItcHJvcGVydGllcz48dmlkZW8tMzYw
	LW1ldGFkYXRhLWZvcm1hdD4wPC92aWRlby0zNjAtbWV0YWRhdGEtZm9ybWF0Pjx2aWRl
	by0zNjAtbWV0YWRhdGEtYXV0bz55ZXM8L3ZpZGVvLTM2MC1tZXRhZGF0YS1hdXRvPjxl
	bmNvZGVyLXZhcmlhbnQ+MDwvZW5jb2Rlci12YXJpYW50PjxhbHBoYS1xdWFsaXR5PjE8
	L2FscGhhLXF1YWxpdHk+PGNvbXBhdGliaWxpdHktaW5kZXg+MTAwPC9jb21wYXRpYmls
	aXR5LWluZGV4PjxhdXRvLWNvbnN0cmFpbnRzIGFwcGx5PSJubyIgU0QtRFZELXNpemVz
	PSJubyIgZml4ZWQtd2lkdGg9InllcyIgbWF4NzIwcC1mcHM9IjI0IiBtYXg3MjBwLXdp
	ZHRoPSI5NjAiIG1heDcyMHAtaGVpZ2h0PSI3MjAiIHVzZS1zb3VyY2UtZ2VvbWV0cnk9
	Im5vIiBoMjY0LXB4YXI9IjAiIGgyNjQtbWF4U0FSPSIyMDAwIi8+PC92aWRlby1lbmNv
	ZGU+PGZyYW1lLXN5bmM+MDwvZnJhbWUtc3luYz48bWF4LWZpbGUtc2l6ZU1CPjA8L21h
	eC1maWxlLXNpemVNQj48YWRkLWFjMz55ZXM8L2FkZC1hYzM+PG9wdGltaXplLWZvci1u
	ZXR3b3JrPnllczwvb3B0aW1pemUtZm9yLW5ldHdvcms+PC9lbmNvZGVyPjxmaWx0ZXIt
	c2V0Lz48L3NldHRpbmc+XxECi0V4cG9ydCBhIG1vdmllIGluIHRoZSBzYW1lIGZvcm1h
	dCBhcyB0aGUgb3JpZ2luYWwgcHJvamVjdC4gRXhwb3J0IGEgbW92aWUgdXNpbmcgdGhl
	IEFwcGxlIFByb1JlcyA0NDQ0IGNvZGVjLiBFeHBvcnQgYSBtb3ZpZSB1c2luZyB0aGUg
	QXBwbGUgUHJvUmVzIDQyMiAoSFEpIGNvZGVjLiBFeHBvcnQgYSBtb3ZpZSB1c2luZyB0
	aGUgQXBwbGUgUHJvUmVzIDQyMiBjb2RlYy4gRXhwb3J0IGEgbW92aWUgdXNpbmcgdGhl
	IEFwcGxlIFByb1JlcyA0MjIgKExUKSBjb2RlYy4gRXhwb3J0IGEgbW92aWUgdXNpbmcg
	dGhlIEFwcGxlIFByb1JlcyA0MjIgKFByb3h5KSBjb2RlYy4gRXhwb3J0IGEgbW92aWUg
	dXNpbmcgdGhlIEguMjY0IGNvZGVjLiBXYXZlZm9ybSBBdWRpbyBGaWxlIEZvcm1hdC4g
	TVBFRy0xL0xheWVyIDMgQXVkaW8gRmlsZSBGb3JtYXQuIENvcmUgQXVkaW8gZmlsZSBz
	dWl0YWJsZSBmb3IgbG9vcHMuIEF1ZGlvIEludGVyY2hhbmdlIEZpbGUgRm9ybWF0LiBE
	b2xieSBEaWdpdGFsIFByb2Zlc3Npb25hbC4gTVBFRy00IEF1ZGlvIEZpbGUuIEV4cG9y
	dCBhIG1vdmllIHVzaW5nIHRoZSBVbmNvbXByZXNzZWQgOC1iaXQgNDoyOjIgY29kZWMu
	IEV4cG9ydCBhIG1vdmllIHVzaW5nIHRoZSBVbmNvbXByZXNzZWQgMTAtYml0IDQ6Mjoy
	IGNvZGVjLtIAYQBiANwA3V8QE0NLTW92aWVSb2xlc1NldHRpbmejAN4AlwBlXxATQ0tN
	b3ZpZVJvbGVzU2V0dGluZ18QFEZGQXBwbGUgRGV2aWNlcyA3MjBwXHsxMjgwLCAxMjgw
	fV8QJDZFNTJBMkNBLTg3Q0EtNDcxQS05M0MyLUIxQzlGNjI3NUU1RRAEXxAaSC4yNjQg
	U2luZ2xlLXBhc3MgKEZhc3RlcilfECFGRlJlbmRlckZvcm1hdEgyNjRDb21wcmVzc2Vk
	TW92aWVTQUFD0gBhAGIA5wDoXxAdRkZTaGFyZUV4cG9ydE1lZGlhRGVzdGluYXRpb26j
	AOkA6gBlXxAdRkZTaGFyZUV4cG9ydE1lZGlhRGVzdGluYXRpb25fEBJGRlNoYXJlRGVz
	dGluYXRpb27fEBUAGgAcAKIAowAeAKQAIAAfAA4AHQAlACEAGwAiACQApQCmABgApwAZ
	ACMAKAAqAFwAqgAsAKwA8QAoAK8A9AA0ALIA9wAnACcAJwC3APwAuQAnACyAG4AAgDKA
	HIAwgDaAG4A0gD+ABIAhgD2ADYANgA2AMYA+gDOADYAc1wAOADgAOQA6ADsAPAA9AL8A
	XABAAQMBBAEFAGaALIAAgDyAOIA3CF8QEEV4cG9ydE1vdmllUm9sZXPSAA0ADgEJAEmh
	AQqAOYAS0wBLAA0ADgENARAAUqIAzADNgCeAKKIBEQAogDqAG4AO1QBWAA4AVwBYAFkA
	RABbAFwAXQEYCYAMgACAO18RDi48P3htbCB2ZXJzaW9uPSIxLjAiIGVuY29kaW5nPSJV
	VEYtOCIgc3RhbmRhbG9uZT0ieWVzIj8+PHNldHRpbmcgbmFtZT0iSC4yNjQlMjBTaW5n
	bGUtcGFzcyUyMChGYXN0ZXIpIj48dmVyc2lvbj40MDk2MDA8L3ZlcnNpb24+PGRlc2Ny
	aXB0aW9uPk1QRUctNCUyMGZpbGUlMjBmb3IlMjBwbGF5YmFjayUyMG9uJTIwaVBvZHMs
	JTIwaU9TJTIwYW5kJTIwaVBhZE9TJTIwZGV2aWNlcywlMjBhbmQlMjBBcHBsZSVDMiVB
	MFRWLjwvZGVzY3JpcHRpb24+PGRlZmF1bHQtZGVzdGluYXRpb24+PC9kZWZhdWx0LWRl
	c3RpbmF0aW9uPjxuYW1lS2V5PkVGQmlPU05hbWVLZXk8L25hbWVLZXk+PGRlc2NyaXB0
	aW9uS2V5PkVGQmlPU0Rlc2NLZXk8L2Rlc2NyaXB0aW9uS2V5PjxlbmNvZGVyIG5hbWU9
	IkgyNjRpUG9kIj48YXVkaW8tdmlkZW8tZW5jb2RlIGlzRW5hYmxlZD0ibm8iLz48Zmls
	ZS1leHRlbnNpb24+bTR2PC9maWxlLWV4dGVuc2lvbj48am9iLWNhbi1iZS1zZWdtZW50
	ZWQ+bm88L2pvYi1jYW4tYmUtc2VnbWVudGVkPjxkdXJhdGlvbi1jaGFuZ2UgZmFjdG9y
	PSIxMDAiIG5ldy1kdXJhdGlvbj0iIiBzb3VyY2UtYXQtb3V0cHV0PSJubyIvPjxtYXJr
	ZXItaW1hZ2Ugd2lkdGg9IjAiIGhlaWdodD0iMCIvPjxlbmNvZGUtY2M+eWVzPC9lbmNv
	ZGUtY2M+PGVuY29kZS1jaGFwdGVycz55ZXM8L2VuY29kZS1jaGFwdGVycz48YXV0by1i
	aXQtcmF0ZS1wdXJwb3NlPjI8L2F1dG8tYml0LXJhdGUtcHVycG9zZT48aW5jbHVkZS1o
	aWRkZW4tbWV0YWRhdGE+eWVzPC9pbmNsdWRlLWhpZGRlbi1tZXRhZGF0YT48bWV0YWRh
	dGEtb3B0aW9ucz4xPC9tZXRhZGF0YS1vcHRpb25zPjxhdWRpby1lbmNvZGUgbmFtZT0i
	TVBFRzQiIGlzRW5hYmxlZD0ieWVzIj48YXV0by1jaGFubmVsX2xheW91dD55ZXM8L2F1
	dG8tY2hhbm5lbF9sYXlvdXQ+PGF1dG8tY2hhbm5lbF9zYW1wbGVTaXplPm5vPC9hdXRv
	LWNoYW5uZWxfc2FtcGxlU2l6ZT48YXV0by1mb3JtYXRfc2FtcGxlUmF0ZT55ZXM8L2F1
	dG8tZm9ybWF0X3NhbXBsZVJhdGU+PGF1ZGlvLWZvcm1hdC1pbmZvPjQ4MDAwLjAwMDAw
	MCAyIDE2IDQ4MDAwIE4gNjYxOTEzOCBOPC9hdWRpby1mb3JtYXQtaW5mbz48Y29kZWMt
	dHlwZT5hYWMgPC9jb2RlYy10eXBlPjxxdWFsaXR5Pjk2PC9xdWFsaXR5PjxhdWRpby1l
	bmNvZGluZy1zdHJhdGVneT4tMTwvYXVkaW8tZW5jb2Rpbmctc3RyYXRlZ3k+PGF1ZGlv
	LWVuY29kaW5nLWJpdHJhdGU+MTI4MDAwPC9hdWRpby1lbmNvZGluZy1iaXRyYXRlPjwv
	YXVkaW8tZW5jb2RlPjx2aWRlby1lbmNvZGUgbmFtZT0iUVQiIGlzRW5hYmxlZD0ieWVz
	Ij48Ym91bmRzIHdpZHRoPSItMTAwIiBoZWlnaHQ9Ii0xMDAiIHBpeGVsQXNwZWN0PSIw
	Ii8+PGNyb3AgbGVmdD0iMCIgdG9wPSIwIiByaWdodD0iMCIgYm90dG9tPSIwIi8+PHBh
	ZGRpbmcgbGVmdD0iMCIgdG9wPSIwIiByaWdodD0iMCIgYm90dG9tPSIwIi8+PGZyYW1l
	LXJhdGU+LTEwMC4wMDAwMDA8L2ZyYW1lLXJhdGU+PGF1dG9tYXRpYyB2aWRlby1jb252
	ZXJzaW9uPSIiIGNvbG9yLXNwZWM9IiIgd2lkdGg9Ii0xOTIwIiBoZWlnaHQ9IjEwODAi
	IGZyYW1lLXJhdGU9Ii0xMDAiIGNyb3A9Im5vIiBhdXRvLXBhZD0iMCIgY2VudGVyLWNy
	b3A9IjAiIGZpZWxkLWRvbWluYW5jZT0ibm8iLz48dmlkZW8tY29udmVyc2lvbj4xIDMg
	MSAwIE4gMCAxIDAgMCAwPC92aWRlby1jb252ZXJzaW9uPjxjb2xvci1zcGVjPjA8L2Nv
	bG9yLXNwZWM+PGNvbXB1dGVkLXBhZD5ubzwvY29tcHV0ZWQtcGFkPjxjb21wdXRlZC1j
	cm9wPm5vPC9jb21wdXRlZC1jcm9wPjxyb3RhdGlvbj4wPC9yb3RhdGlvbj48ZmxpcD4w
	PC9mbGlwPjxjb2xvci1zcGFjZSBwcmltYXJpZXM9IjIiIHRyYW5zZmVyPSIyIiBtYXRy
	aXg9IjIiLz48Y29sb3Itc3BlYy1kZWZhdWx0Pi0xMDAwPC9jb2xvci1zcGVjLWRlZmF1
	bHQ+PHJhdy10by1sb2c+MDwvcmF3LXRvLWxvZz48Y2FtZXJhLWx1dD4wPC9jYW1lcmEt
	bHV0PjxjYW1lcmEtbHV0LWNvbG9yPi0xMDAwPC9jYW1lcmEtbHV0LWNvbG9yPjxjYW1l
	cmEtbG9nLWRlZmF1bHQ+LTEwMDA8L2NhbWVyYS1sb2ctZGVmYXVsdD48aWdub3JlLWNy
	b3AtZHVyaW5nLXByb2Nlc3Npbmc+bm88L2lnbm9yZS1jcm9wLWR1cmluZy1wcm9jZXNz
	aW5nPjxkaXRoZXJpbmctc2V0dGluZz4wPC9kaXRoZXJpbmctc2V0dGluZz48ZW1iZWRk
	ZWRfZG92aXNfZm9ybWF0PjA8L2VtYmVkZGVkX2RvdmlzX2Zvcm1hdD48cHVycG9zZS1n
	cm91cC8+PGNvZGVjLXR5cGU+YXZjMTwvY29kZWMtdHlwZT48Y29kZWMtbWFudWZhY3R1
	cmVyPmFwcGw8L2NvZGVjLW1hbnVmYWN0dXJlcj48ZmFtaWx5LWNvZGVjLWNvbmZpZ3Vy
	ZWQ+bm88L2ZhbWlseS1jb2RlYy1jb25maWd1cmVkPjxzcGF0aWFsIHBpeGVsRGVwdGg9
	IjI0IiBtaW5RdWFsaXR5PSI1MTIiIHF1YWxpdHk9IjUxMiIvPjx0ZW1wb3JhbCBrZXlG
	cmFtZUludGVydmFsPSIwIiBtaW5RdWFsaXR5PSI1MTIiIHF1YWxpdHk9IjUxMiIgcGFy
	dGlhbC1zeW5jPSIwIi8+PGljbTItb3B0aW9ucyBtYXgtcGFzc2VzPSIxIiBhbGxvdy1m
	cmFtZS1yZW9kZXI9InllcyIvPjxkYXRhLXJhdGU+MTI1MDAwMDwvZGF0YS1yYXRlPjxk
	YXRhLXJhdGUtbGltaXQtcGVyY2VudGFnZT4wPC9kYXRhLXJhdGUtbGltaXQtcGVyY2Vu
	dGFnZT48ZGF0YS1yYXRlLWxpbWl0LWR1cmF0aW9uPjE8L2RhdGEtcmF0ZS1saW1pdC1k
	dXJhdGlvbj48ZW5jb2Rlci1wcm9wZXJ0aWVzPjwhW0NEQVRBW1luQnNhWE4wTUREU0FR
	SURFVjhRRUdOdlpHVmpMWEJ5YjNCbGNuUnBaWE5hWlc1amIyUmxjaTFwWk5JRUJRWU5Y
	eEFQU0RJMk5FVnVkSEp2Y0hsTmIyUmxYRkJ5YjJacGJHVk1aWFpsYk5NSENBa0tDd3hi
	YjJKcVpXTjBWbUZzZFdWYmFYTkVaV1poZFd4MFNGRmJaR1Z6WTNKcGNIUnBiMjVWUTBG
	Q1FVTUpWVU5CUWtGRDB3Y0lDUTRMRUY4UUUwZ3lOalJmU0dsbmFGOUJkWFJ2VEdWMlpX
	d0pWRWhwWjJoVVlYWmpNUWdOSUNzd1FrOVdZbTU2Z0lHSGpxU2xxZ0FBQUFBQUFBRUJB
	QUFBQUFBQUFCSUFBQUFBQUFBQUFBQUFBQUFBQUFDdl1dPjwvZW5jb2Rlci1wcm9wZXJ0
	aWVzPjx2aWRlby0zNjAtbWV0YWRhdGEtZm9ybWF0PjA8L3ZpZGVvLTM2MC1tZXRhZGF0
	YS1mb3JtYXQ+PHZpZGVvLTM2MC1tZXRhZGF0YS1hdXRvPnllczwvdmlkZW8tMzYwLW1l
	dGFkYXRhLWF1dG8+PGVuY29kZXItdmFyaWFudD4wPC9lbmNvZGVyLXZhcmlhbnQ+PGFs
	cGhhLXF1YWxpdHk+MTwvYWxwaGEtcXVhbGl0eT48Y29tcGF0aWJpbGl0eS1pbmRleD4x
	MDA8L2NvbXBhdGliaWxpdHktaW5kZXg+PGF1dG8tY29uc3RyYWludHMgYXBwbHk9Im5v
	IiBTRC1EVkQtc2l6ZXM9Im5vIiBmaXhlZC13aWR0aD0ieWVzIiBtYXg3MjBwLWZwcz0i
	MjQiIG1heDcyMHAtd2lkdGg9Ijk2MCIgbWF4NzIwcC1oZWlnaHQ9IjcyMCIgdXNlLXNv
	dXJjZS1nZW9tZXRyeT0ibm8iIGgyNjQtcHhhcj0iMCIgaDI2NC1tYXhTQVI9IjIwMDAi
	Lz48L3ZpZGVvLWVuY29kZT48ZnJhbWUtc3luYz4wPC9mcmFtZS1zeW5jPjxtYXgtZmls
	ZS1zaXplTUI+MDwvbWF4LWZpbGUtc2l6ZU1CPjxhZGQtYWMzPnllczwvYWRkLWFjMz48
	b3B0aW1pemUtZm9yLW5ldHdvcms+eWVzPC9vcHRpbWl6ZS1mb3ItbmV0d29yaz48L2Vu
	Y29kZXI+PGZpbHRlci1zZXQvPjwvc2V0dGluZz5fEQKLRXhwb3J0IGEgbW92aWUgaW4g
	dGhlIHNhbWUgZm9ybWF0IGFzIHRoZSBvcmlnaW5hbCBwcm9qZWN0LiBFeHBvcnQgYSBt
	b3ZpZSB1c2luZyB0aGUgQXBwbGUgUHJvUmVzIDQ0NDQgY29kZWMuIEV4cG9ydCBhIG1v
	dmllIHVzaW5nIHRoZSBBcHBsZSBQcm9SZXMgNDIyIChIUSkgY29kZWMuIEV4cG9ydCBh
	IG1vdmllIHVzaW5nIHRoZSBBcHBsZSBQcm9SZXMgNDIyIGNvZGVjLiBFeHBvcnQgYSBt
	b3ZpZSB1c2luZyB0aGUgQXBwbGUgUHJvUmVzIDQyMiAoTFQpIGNvZGVjLiBFeHBvcnQg
	YSBtb3ZpZSB1c2luZyB0aGUgQXBwbGUgUHJvUmVzIDQyMiAoUHJveHkpIGNvZGVjLiBF
	eHBvcnQgYSBtb3ZpZSB1c2luZyB0aGUgSC4yNjQgY29kZWMuIFdhdmVmb3JtIEF1ZGlv
	IEZpbGUgRm9ybWF0LiBNUEVHLTEvTGF5ZXIgMyBBdWRpbyBGaWxlIEZvcm1hdC4gQ29y
	ZSBBdWRpbyBmaWxlIHN1aXRhYmxlIGZvciBsb29wcy4gQXVkaW8gSW50ZXJjaGFuZ2Ug
	RmlsZSBGb3JtYXQuIERvbGJ5IERpZ2l0YWwgUHJvZmVzc2lvbmFsLiBNUEVHLTQgQXVk
	aW8gRmlsZS4gRXhwb3J0IGEgbW92aWUgdXNpbmcgdGhlIFVuY29tcHJlc3NlZCA4LWJp
	dCA0OjI6MiBjb2RlYy4gRXhwb3J0IGEgbW92aWUgdXNpbmcgdGhlIFVuY29tcHJlc3Nl
	ZCAxMC1iaXQgNDoyOjIgY29kZWMuXxAVRkZBcHBsZSBEZXZpY2VzIDEwODBwXHsxOTIw
	LCAxMDgwfV8QJDg3M0I2NjVBLUQ2OTItNEU5QS1BNzgwLUM3QTI4MkMwMTgxNd8QFQAa
	ABwAogCjAB4ApAAgAB8ADgAdACUAIQAbACIAJAClAKYAGACnABkAIwAoACoAXAEhASIB
	IwEkACgArwEnASgBKQEqACgAJwAnAS4BLwC5ACcBMoAbgACAVoBRgFSAQ4AbgDSAU4BC
	gEGAT4AbgA2ADYBVgFKAM4ANgFBcRXhwb3J0IE1lZGlhXxAcSEVWQyAtIEhpZ2ggRWZm
	aWNpZW5jeSBWaWRlb9cADgA4ADkAOgA7ADwAPQC/ATcAXQE4ATkBOgBmgCyASYBOgEWA
	RAhfEBBFeHBvcnRNb3ZpZVJvbGVz0gANAA4BPgBJoQE/gEaAEtMASwANAA4BQgFFAFKi
	AMwAzYAngCiiAUYAKIBHgBuADtUAVgAOAFcAWABZAEQAWwBcAF0BTQmADIAAgEhfEQ0s
	PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Inll
	cyI/PjxzZXR0aW5nIG5hbWU9IkhFVkMlMjA4LWJpdCI+PHZlcnNpb24+NDA5NjAwPC92
	ZXJzaW9uPjxkZXNjcmlwdGlvbj5IRVZDJTIwKDgtYml0JTIwY29sb3IpJTIwTVBFRy00
	JTIwZmlsZSUyMGZvciUyMHBsYXliYWNrJTIwb24lMjBhJTIwZGVza3RvcCUyMGNvbXB1
	dGVyLjwvZGVzY3JpcHRpb24+PGRlZmF1bHQtZGVzdGluYXRpb24+PC9kZWZhdWx0LWRl
	c3RpbmF0aW9uPjxuYW1lS2V5PkVGQkNvbXB1dGVySEVWQzhOYW1lS2V5PC9uYW1lS2V5
	PjxkZXNjcmlwdGlvbktleT5FRkJDb21wdXRlckhFVkM4RGVzY3JpcHRpb25LZXk8L2Rl
	c2NyaXB0aW9uS2V5PjxlbmNvZGVyIG5hbWU9Ik1QRUc0Ij48YXVkaW8tdmlkZW8tZW5j
	b2RlIGlzRW5hYmxlZD0ibm8iLz48ZmlsZS1leHRlbnNpb24+bXA0PC9maWxlLWV4dGVu
	c2lvbj48am9iLWNhbi1iZS1zZWdtZW50ZWQ+bm88L2pvYi1jYW4tYmUtc2VnbWVudGVk
	PjxkdXJhdGlvbi1jaGFuZ2UgZmFjdG9yPSIxMDAiIG5ldy1kdXJhdGlvbj0iIiBzb3Vy
	Y2UtYXQtb3V0cHV0PSJubyIvPjxtYXJrZXItaW1hZ2Ugd2lkdGg9IjAiIGhlaWdodD0i
	MCIvPjxlbmNvZGUtY2M+eWVzPC9lbmNvZGUtY2M+PGVuY29kZS1jaGFwdGVycz55ZXM8
	L2VuY29kZS1jaGFwdGVycz48YXV0by1iaXQtcmF0ZS1wdXJwb3NlPjM8L2F1dG8tYml0
	LXJhdGUtcHVycG9zZT48aW5jbHVkZS1oaWRkZW4tbWV0YWRhdGE+eWVzPC9pbmNsdWRl
	LWhpZGRlbi1tZXRhZGF0YT48bWV0YWRhdGEtb3B0aW9ucz4xPC9tZXRhZGF0YS1vcHRp
	b25zPjxhdWRpby1lbmNvZGUgbmFtZT0iTVBFRzQiIGlzRW5hYmxlZD0ieWVzIj48YXV0
	by1jaGFubmVsX2xheW91dD55ZXM8L2F1dG8tY2hhbm5lbF9sYXlvdXQ+PGF1dG8tY2hh
	bm5lbF9zYW1wbGVTaXplPm5vPC9hdXRvLWNoYW5uZWxfc2FtcGxlU2l6ZT48YXV0by1m
	b3JtYXRfc2FtcGxlUmF0ZT55ZXM8L2F1dG8tZm9ybWF0X3NhbXBsZVJhdGU+PGF1ZGlv
	LWZvcm1hdC1pbmZvPjQ4MDAwLjAwMDAwMCAyIDE2IDQ4MDAwIE4gNjYxOTEzOCBZPC9h
	dWRpby1mb3JtYXQtaW5mbz48Y29kZWMtdHlwZT5hYWMgPC9jb2RlYy10eXBlPjxxdWFs
	aXR5Pjk2PC9xdWFsaXR5PjxhdWRpby1lbmNvZGluZy1zdHJhdGVneT4xPC9hdWRpby1l
	bmNvZGluZy1zdHJhdGVneT48YXVkaW8tZW5jb2RpbmctYml0cmF0ZT4xMjgwMDA8L2F1
	ZGlvLWVuY29kaW5nLWJpdHJhdGU+PC9hdWRpby1lbmNvZGU+PHZpZGVvLWVuY29kZSBu
	YW1lPSJNUEVHNCIgaXNFbmFibGVkPSJ5ZXMiPjxib3VuZHMgd2lkdGg9Ii0xMDAiIGhl
	aWdodD0iLTEwMCIgcGl4ZWxBc3BlY3Q9IjAiLz48Y3JvcCBsZWZ0PSIwIiB0b3A9IjAi
	IHJpZ2h0PSIwIiBib3R0b209IjAiLz48cGFkZGluZyBsZWZ0PSIwIiB0b3A9IjAiIHJp
	Z2h0PSIwIiBib3R0b209IjAiLz48ZnJhbWUtcmF0ZT4tMTAwLjAwMDAwMDwvZnJhbWUt
	cmF0ZT48YXV0b21hdGljIHZpZGVvLWNvbnZlcnNpb249IiIgY29sb3Itc3BlYz0iIiB3
	aWR0aD0iLTEyODAiIGhlaWdodD0iMTI4MCIgZnJhbWUtcmF0ZT0iLTEwMCIgY3JvcD0i
	bm8iIGF1dG8tcGFkPSIwIiBjZW50ZXItY3JvcD0iMCIgZmllbGQtZG9taW5hbmNlPSJu
	byIvPjx2aWRlby1jb252ZXJzaW9uPjEgMyAxIDAgTiAwIDEgMCAwIDA8L3ZpZGVvLWNv
	bnZlcnNpb24+PGNvbG9yLXNwZWM+MDwvY29sb3Itc3BlYz48Y29tcHV0ZWQtcGFkPm5v
	PC9jb21wdXRlZC1wYWQ+PGNvbXB1dGVkLWNyb3A+bm88L2NvbXB1dGVkLWNyb3A+PHJv
	dGF0aW9uPjA8L3JvdGF0aW9uPjxmbGlwPjA8L2ZsaXA+PGNvbG9yLXNwYWNlIHByaW1h
	cmllcz0iMiIgdHJhbnNmZXI9IjIiIG1hdHJpeD0iMiIvPjxjb2xvci1zcGVjLWRlZmF1
	bHQ+LTEwMDA8L2NvbG9yLXNwZWMtZGVmYXVsdD48cmF3LXRvLWxvZz4wPC9yYXctdG8t
	bG9nPjxjYW1lcmEtbHV0PjA8L2NhbWVyYS1sdXQ+PGNhbWVyYS1sdXQtY29sb3I+LTEw
	MDA8L2NhbWVyYS1sdXQtY29sb3I+PGNhbWVyYS1sb2ctZGVmYXVsdD4tMTAwMDwvY2Ft
	ZXJhLWxvZy1kZWZhdWx0PjxpZ25vcmUtY3JvcC1kdXJpbmctcHJvY2Vzc2luZz5ubzwv
	aWdub3JlLWNyb3AtZHVyaW5nLXByb2Nlc3Npbmc+PGRpdGhlcmluZy1zZXR0aW5nPjA8
	L2RpdGhlcmluZy1zZXR0aW5nPjxlbWJlZGRlZF9kb3Zpc19mb3JtYXQ+MDwvZW1iZWRk
	ZWRfZG92aXNfZm9ybWF0PjxwdXJwb3NlLWdyb3VwLz48Y29kZWMtdHlwZT5odmMxPC9j
	b2RlYy10eXBlPjxjb2RlYy1tYW51ZmFjdHVyZXI+YXBwbDwvY29kZWMtbWFudWZhY3R1
	cmVyPjxmYW1pbHktY29kZWMtY29uZmlndXJlZD5ubzwvZmFtaWx5LWNvZGVjLWNvbmZp
	Z3VyZWQ+PHNwYXRpYWwgcGl4ZWxEZXB0aD0iMjQiIG1pblF1YWxpdHk9Ijc2OCIgcXVh
	bGl0eT0iNzY4Ii8+PHRlbXBvcmFsIGtleUZyYW1lSW50ZXJ2YWw9IjAiIG1pblF1YWxp
	dHk9Ijc2OCIgcXVhbGl0eT0iNzY4IiBwYXJ0aWFsLXN5bmM9IjAiLz48aWNtMi1vcHRp
	b25zIG1heC1wYXNzZXM9IjEiIGFsbG93LWZyYW1lLXJlb2Rlcj0ieWVzIi8+PGRhdGEt
	cmF0ZT4xNTkxNjY2PC9kYXRhLXJhdGU+PGRhdGEtcmF0ZS1saW1pdC1wZXJjZW50YWdl
	PjA8L2RhdGEtcmF0ZS1saW1pdC1wZXJjZW50YWdlPjxkYXRhLXJhdGUtbGltaXQtZHVy
	YXRpb24+MDwvZGF0YS1yYXRlLWxpbWl0LWR1cmF0aW9uPjxlbmNvZGVyLXByb3BlcnRp
	ZXM+PCFbQ0RBVEFbWW5Cc2FYTjBNRERTQVFJRERGOFFFR052WkdWakxYQnliM0JsY25S
	cFpYTmFaVzVqYjJSbGNpMXBaTkVFQlZ4UWNtOW1hV3hsVEdWMlpXelRCZ2NJQ1FvTFcy
	OWlhbVZqZEZaaGJIVmxXMmx6UkdWbVlYVnNkRWhSVzJSbGMyTnlhWEIwYVc5dVh4QVRT
	RVZXUTE5TllXbHVYMEYxZEc5TVpYWmxiQWxmRUJNNExVSnBkQ0JEYjJ4dmNpQW9ORG95
	T2pBcFZHaDJZekVJRFNBckxqdENUbHBtZkgyVEFBQUFBQUFBQVFFQUFBQUFBQUFBRFFB
	QUFBQUFBQUFBQUFBQUFBQUFBSmc9XV0+PC9lbmNvZGVyLXByb3BlcnRpZXM+PHZpZGVv
	LTM2MC1tZXRhZGF0YS1mb3JtYXQ+MDwvdmlkZW8tMzYwLW1ldGFkYXRhLWZvcm1hdD48
	dmlkZW8tMzYwLW1ldGFkYXRhLWF1dG8+eWVzPC92aWRlby0zNjAtbWV0YWRhdGEtYXV0
	bz48ZW5jb2Rlci12YXJpYW50PjE8L2VuY29kZXItdmFyaWFudD48YWxwaGEtcXVhbGl0
	eT4xPC9hbHBoYS1xdWFsaXR5PjxiaXQtcmF0ZS1tb2RlPjA8L2JpdC1yYXRlLW1vZGU+
	PC92aWRlby1lbmNvZGU+PGhpbnRpbmcgaGludGluZy10eXBlPSIyIiBwYWNrZXQtdHlw
	ZT0iMTQ1MCIgcGFja2V0LWR1cmF0aW9uPSIxMDAiLz48YWxsb3ctcG9kY2FzdC1kYXRh
	Pm5vPC9hbGxvdy1wb2RjYXN0LWRhdGE+PC9lbmNvZGVyPjxmaWx0ZXItc2V0Lz48L3Nl
	dHRpbmc+0gB9AA4BUAFRgEqATdIAgQAOAVMBVIBLgExfEMQ8P3htbCB2ZXJzaW9uPSIx
	LjAiIGVuY29kaW5nPSJVVEYtOCIgc3RhbmRhbG9uZT0ieWVzIj8+PGpvYkFjdGlvbiBr
	aW5kPSJvcGVuIiBuYW1lPSJOT05FIiBmbGFncz0iMSIgam9iLWNvdW50PSIxIiBkZWZh
	dWx0LXRpdGxlPSJFcGlzb2RlJTIwMzEiIGRlZmF1bHRBcHA9Ii9BcHBsaWNhdGlvbnMv
	TXVzaWNCcmFpbnolMjBQaWNhcmQuYXBwIi8+0gBhAGIBVwFYXU9wZW5Kb2JBY3Rpb26j
	AVkAigBlXU9wZW5Kb2JBY3Rpb27SAGEAYgFbAVxfEA9DS09wZW5Kb2JBY3Rpb26kAV0B
	XgCRAGVfEA9DS09wZW5Kb2JBY3Rpb25bQ0tKb2JBY3Rpb25fEQK3RXhwb3J0IGEgbW92
	aWUgaW4gdGhlIHNhbWUgZm9ybWF0IGFzIHRoZSBvcmlnaW5hbCBwcm9qZWN0LiBFeHBv
	cnQgYSBtb3ZpZSB1c2luZyB0aGUgQXBwbGUgUHJvUmVzIDQ0NDQgWFEgY29kZWMuIEV4
	cG9ydCBhIG1vdmllIHVzaW5nIHRoZSBBcHBsZSBQcm9SZXMgNDQ0NCBjb2RlYy4gRXhw
	b3J0IGEgbW92aWUgdXNpbmcgdGhlIEFwcGxlIFByb1JlcyA0MjIgSFEgY29kZWMuIEV4
	cG9ydCBhIG1vdmllIHVzaW5nIHRoZSBBcHBsZSBQcm9SZXMgNDIyIGNvZGVjLiBFeHBv
	cnQgYSBtb3ZpZSB1c2luZyB0aGUgQXBwbGUgUHJvUmVzIDQyMiBMVCBjb2RlYy4gRXhw
	b3J0IGEgbW92aWUgdXNpbmcgdGhlIEFwcGxlIFByb1JlcyA0MjIgUHJveHkgY29kZWMu
	IEV4cG9ydCBhIG1vdmllIHVzaW5nIHRoZSBILjI2NCBjb2RlYy4gV2F2ZWZvcm0gQXVk
	aW8gRmlsZSBGb3JtYXQuIE1QRUctMSBMYXllciBJSUkgQXVkaW8gRmlsZS4gQ29yZSBB
	dWRpbyBGaWxlIHN1aXRhYmxlIGZvciBsb29wcy4gQXVkaW8gSW50ZXJjaGFuZ2UgRmls
	ZSBGb3JtYXQuIERvbGJ5IERpZ2l0YWwgYXVkaW8gZmlsZS4gTVBFRy00IEFBQyBhdWRp
	byBmaWxlLiBFeHBvcnQgYSBtb3ZpZSB1c2luZyB0aGUgVW5jb21wcmVzc2VkIDgtYml0
	IDQ6MjoyIGNvZGVjLiBFeHBvcnQgYSBtb3ZpZSB1c2luZyB0aGUgVW5jb21wcmVzc2Vk
	IDEwLWJpdCA0OjI6MiBjb2RlYy5fEBBGRkNvbXB1dGVySEVWQzhrEAMQAlx7MTI4MCwg
	MTI4MH1fECRCMkI2MjM2Ny1FRDRDLTQxNkQtQTEzMi1BOTRCQUFENEY5QUEQBVpIRVZD
	IDgtYml0XxAlRkZSZW5kZXJGb3JtYXRIRVZDOGJpdENvbXByZXNzZWRNb3ZpZd8QFAAa
	ABwAogCjAB4ApAAgAB8ADgAdACUAIQAiACQApQCmABgApwAZACMAKAAqAFwBawEiAKwB
	bgAoAK8BcQFyAXMAKAAnACcAtwF4ALkAJwEygBuAAIBmgFGAMIBagBuANIBlgFmAWIAb
	gA2ADYAxgGSAM4ANgFBcRXhwb3J0IE1lZGlhXGExNnogWW91VHViZdcADgA4ADkAOgA7
	ADwAPQC/AYAAXQGBAYIBgwBmgCyAYIBjgFyAWwhfEBBFeHBvcnRNb3ZpZVJvbGVz0gAN
	AA4BhwBJoQGIgF2AEtMASwANAA4BiwGOAFKiAMwAzYAngCiiAY8AKIBegBuADtUAVgAO
	AFcAWABZAEQAWwBcAF0BlgmADIAAgF9fEQ4uPD94bWwgdmVyc2lvbj0iMS4wIiBlbmNv
	ZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzZXR0aW5nIG5hbWU9IkguMjY0
	JTIwU2luZ2xlLXBhc3MlMjAoRmFzdGVyKSI+PHZlcnNpb24+NDA5NjAwPC92ZXJzaW9u
	PjxkZXNjcmlwdGlvbj5NUEVHLTQlMjBmaWxlJTIwZm9yJTIwcGxheWJhY2slMjBvbiUy
	MGlQb2RzLCUyMGlPUyUyMGFuZCUyMGlQYWRPUyUyMGRldmljZXMsJTIwYW5kJTIwQXBw
	bGUlQzIlQTBUVi48L2Rlc2NyaXB0aW9uPjxkZWZhdWx0LWRlc3RpbmF0aW9uPjwvZGVm
	YXVsdC1kZXN0aW5hdGlvbj48bmFtZUtleT5FRkJpT1NOYW1lS2V5PC9uYW1lS2V5Pjxk
	ZXNjcmlwdGlvbktleT5FRkJpT1NEZXNjS2V5PC9kZXNjcmlwdGlvbktleT48ZW5jb2Rl
	ciBuYW1lPSJIMjY0aVBvZCI+PGF1ZGlvLXZpZGVvLWVuY29kZSBpc0VuYWJsZWQ9Im5v
	Ii8+PGZpbGUtZXh0ZW5zaW9uPm00djwvZmlsZS1leHRlbnNpb24+PGpvYi1jYW4tYmUt
	c2VnbWVudGVkPm5vPC9qb2ItY2FuLWJlLXNlZ21lbnRlZD48ZHVyYXRpb24tY2hhbmdl
	IGZhY3Rvcj0iMTAwIiBuZXctZHVyYXRpb249IiIgc291cmNlLWF0LW91dHB1dD0ibm8i
	Lz48bWFya2VyLWltYWdlIHdpZHRoPSIwIiBoZWlnaHQ9IjAiLz48ZW5jb2RlLWNjPnll
	czwvZW5jb2RlLWNjPjxlbmNvZGUtY2hhcHRlcnM+eWVzPC9lbmNvZGUtY2hhcHRlcnM+
	PGF1dG8tYml0LXJhdGUtcHVycG9zZT4yPC9hdXRvLWJpdC1yYXRlLXB1cnBvc2U+PGlu
	Y2x1ZGUtaGlkZGVuLW1ldGFkYXRhPnllczwvaW5jbHVkZS1oaWRkZW4tbWV0YWRhdGE+
	PG1ldGFkYXRhLW9wdGlvbnM+MTwvbWV0YWRhdGEtb3B0aW9ucz48YXVkaW8tZW5jb2Rl
	IG5hbWU9Ik1QRUc0IiBpc0VuYWJsZWQ9InllcyI+PGF1dG8tY2hhbm5lbF9sYXlvdXQ+
	eWVzPC9hdXRvLWNoYW5uZWxfbGF5b3V0PjxhdXRvLWNoYW5uZWxfc2FtcGxlU2l6ZT5u
	bzwvYXV0by1jaGFubmVsX3NhbXBsZVNpemU+PGF1dG8tZm9ybWF0X3NhbXBsZVJhdGU+
	eWVzPC9hdXRvLWZvcm1hdF9zYW1wbGVSYXRlPjxhdWRpby1mb3JtYXQtaW5mbz40ODAw
	MC4wMDAwMDAgMiAxNiA0ODAwMCBOIDY2MTkxMzggTjwvYXVkaW8tZm9ybWF0LWluZm8+
	PGNvZGVjLXR5cGU+YWFjIDwvY29kZWMtdHlwZT48cXVhbGl0eT45NjwvcXVhbGl0eT48
	YXVkaW8tZW5jb2Rpbmctc3RyYXRlZ3k+LTE8L2F1ZGlvLWVuY29kaW5nLXN0cmF0ZWd5
	PjxhdWRpby1lbmNvZGluZy1iaXRyYXRlPjEyODAwMDwvYXVkaW8tZW5jb2RpbmctYml0
	cmF0ZT48L2F1ZGlvLWVuY29kZT48dmlkZW8tZW5jb2RlIG5hbWU9IlFUIiBpc0VuYWJs
	ZWQ9InllcyI+PGJvdW5kcyB3aWR0aD0iLTEwMCIgaGVpZ2h0PSItMTAwIiBwaXhlbEFz
	cGVjdD0iMCIvPjxjcm9wIGxlZnQ9IjAiIHRvcD0iMCIgcmlnaHQ9IjAiIGJvdHRvbT0i
	MCIvPjxwYWRkaW5nIGxlZnQ9IjAiIHRvcD0iMCIgcmlnaHQ9IjAiIGJvdHRvbT0iMCIv
	PjxmcmFtZS1yYXRlPi0xMDAuMDAwMDAwPC9mcmFtZS1yYXRlPjxhdXRvbWF0aWMgdmlk
	ZW8tY29udmVyc2lvbj0iIiBjb2xvci1zcGVjPSIiIHdpZHRoPSItMTI4MCIgaGVpZ2h0
	PSIxMjgwIiBmcmFtZS1yYXRlPSItMTAwIiBjcm9wPSJubyIgYXV0by1wYWQ9IjAiIGNl
	bnRlci1jcm9wPSIwIiBmaWVsZC1kb21pbmFuY2U9Im5vIi8+PHZpZGVvLWNvbnZlcnNp
	b24+MSAzIDEgMCBOIDAgMSAwIDAgMDwvdmlkZW8tY29udmVyc2lvbj48Y29sb3Itc3Bl
	Yz4wPC9jb2xvci1zcGVjPjxjb21wdXRlZC1wYWQ+bm88L2NvbXB1dGVkLXBhZD48Y29t
	cHV0ZWQtY3JvcD5ubzwvY29tcHV0ZWQtY3JvcD48cm90YXRpb24+MDwvcm90YXRpb24+
	PGZsaXA+MDwvZmxpcD48Y29sb3Itc3BhY2UgcHJpbWFyaWVzPSIyIiB0cmFuc2Zlcj0i
	MiIgbWF0cml4PSIyIi8+PGNvbG9yLXNwZWMtZGVmYXVsdD4tMTAwMDwvY29sb3Itc3Bl
	Yy1kZWZhdWx0PjxyYXctdG8tbG9nPjA8L3Jhdy10by1sb2c+PGNhbWVyYS1sdXQ+MDwv
	Y2FtZXJhLWx1dD48Y2FtZXJhLWx1dC1jb2xvcj4tMTAwMDwvY2FtZXJhLWx1dC1jb2xv
	cj48Y2FtZXJhLWxvZy1kZWZhdWx0Pi0xMDAwPC9jYW1lcmEtbG9nLWRlZmF1bHQ+PGln
	bm9yZS1jcm9wLWR1cmluZy1wcm9jZXNzaW5nPm5vPC9pZ25vcmUtY3JvcC1kdXJpbmct
	cHJvY2Vzc2luZz48ZGl0aGVyaW5nLXNldHRpbmc+MDwvZGl0aGVyaW5nLXNldHRpbmc+
	PGVtYmVkZGVkX2RvdmlzX2Zvcm1hdD4wPC9lbWJlZGRlZF9kb3Zpc19mb3JtYXQ+PHB1
	cnBvc2UtZ3JvdXAvPjxjb2RlYy10eXBlPmF2YzE8L2NvZGVjLXR5cGU+PGNvZGVjLW1h
	bnVmYWN0dXJlcj5hcHBsPC9jb2RlYy1tYW51ZmFjdHVyZXI+PGZhbWlseS1jb2RlYy1j
	b25maWd1cmVkPm5vPC9mYW1pbHktY29kZWMtY29uZmlndXJlZD48c3BhdGlhbCBwaXhl
	bERlcHRoPSIyNCIgbWluUXVhbGl0eT0iNTEyIiBxdWFsaXR5PSI1MTIiLz48dGVtcG9y
	YWwga2V5RnJhbWVJbnRlcnZhbD0iMCIgbWluUXVhbGl0eT0iNTEyIiBxdWFsaXR5PSI1
	MTIiIHBhcnRpYWwtc3luYz0iMCIvPjxpY20yLW9wdGlvbnMgbWF4LXBhc3Nlcz0iMSIg
	YWxsb3ctZnJhbWUtcmVvZGVyPSJ5ZXMiLz48ZGF0YS1yYXRlPjExMDgzMzM8L2RhdGEt
	cmF0ZT48ZGF0YS1yYXRlLWxpbWl0LXBlcmNlbnRhZ2U+MDwvZGF0YS1yYXRlLWxpbWl0
	LXBlcmNlbnRhZ2U+PGRhdGEtcmF0ZS1saW1pdC1kdXJhdGlvbj4xPC9kYXRhLXJhdGUt
	bGltaXQtZHVyYXRpb24+PGVuY29kZXItcHJvcGVydGllcz48IVtDREFUQVtZbkJzYVhO
	ME1ERFNBUUlERVY4UUVHTnZaR1ZqTFhCeWIzQmxjblJwWlhOYVpXNWpiMlJsY2kxcFpO
	SUVCUVlOWHhBUFNESTJORVZ1ZEhKdmNIbE5iMlJsWEZCeWIyWnBiR1ZNWlhabGJOTUhD
	QWtLQ3d4YmIySnFaV04wVm1Gc2RXVmJhWE5FWldaaGRXeDBTRkZiWkdWelkzSnBjSFJw
	YjI1VlEwRkNRVU1KVlVOQlFrRkQwd2NJQ1E0TEVGOFFFMGd5TmpSZlNHbG5hRjlCZFhS
	dlRHVjJaV3dKVkVocFoyaFVZWFpqTVFnTklDc3dRazlXWW01NmdJR0hqcVNscWdBQUFB
	QUFBQUVCQUFBQUFBQUFBQklBQUFBQUFBQUFBQUFBQUFBQUFBQ3ZdXT48L2VuY29kZXIt
	cHJvcGVydGllcz48dmlkZW8tMzYwLW1ldGFkYXRhLWZvcm1hdD4wPC92aWRlby0zNjAt
	bWV0YWRhdGEtZm9ybWF0Pjx2aWRlby0zNjAtbWV0YWRhdGEtYXV0bz55ZXM8L3ZpZGVv
	LTM2MC1tZXRhZGF0YS1hdXRvPjxlbmNvZGVyLXZhcmlhbnQ+MDwvZW5jb2Rlci12YXJp
	YW50PjxhbHBoYS1xdWFsaXR5PjE8L2FscGhhLXF1YWxpdHk+PGNvbXBhdGliaWxpdHkt
	aW5kZXg+MTAwPC9jb21wYXRpYmlsaXR5LWluZGV4PjxhdXRvLWNvbnN0cmFpbnRzIGFw
	cGx5PSJubyIgU0QtRFZELXNpemVzPSJubyIgZml4ZWQtd2lkdGg9InllcyIgbWF4NzIw
	cC1mcHM9IjI0IiBtYXg3MjBwLXdpZHRoPSI5NjAiIG1heDcyMHAtaGVpZ2h0PSI3MjAi
	IHVzZS1zb3VyY2UtZ2VvbWV0cnk9Im5vIiBoMjY0LXB4YXI9IjAiIGgyNjQtbWF4U0FS
	PSIyMDAwIi8+PC92aWRlby1lbmNvZGU+PGZyYW1lLXN5bmM+MDwvZnJhbWUtc3luYz48
	bWF4LWZpbGUtc2l6ZU1CPjA8L21heC1maWxlLXNpemVNQj48YWRkLWFjMz55ZXM8L2Fk
	ZC1hYzM+PG9wdGltaXplLWZvci1uZXR3b3JrPnllczwvb3B0aW1pemUtZm9yLW5ldHdv
	cms+PC9lbmNvZGVyPjxmaWx0ZXItc2V0Lz48L3NldHRpbmc+0gB9AA4BmQFRgGGATdIA
	gQAOAZwBVIBigExfENM8P3htbCB2ZXJzaW9uPSIxLjAiIGVuY29kaW5nPSJVVEYtOCIg
	c3RhbmRhbG9uZT0ieWVzIj8+PGpvYkFjdGlvbiBraW5kPSJvcGVuIiBuYW1lPSJOT05F
	IiBmbGFncz0iMSIgam9iLWNvdW50PSIxIiBkZWZhdWx0LXRpdGxlPSJ3YXRjaGNhc3Rf
	ZXAyMF90cmVlX29mX2xpZmUiIGRlZmF1bHRBcHA9Ii9BcHBsaWNhdGlvbnMvTXVzaWNC
	cmFpbnolMjBQaWNhcmQuYXBwIi8+XxECt0V4cG9ydCBhIG1vdmllIGluIHRoZSBzYW1l
	IGZvcm1hdCBhcyB0aGUgb3JpZ2luYWwgcHJvamVjdC4gRXhwb3J0IGEgbW92aWUgdXNp
	bmcgdGhlIEFwcGxlIFByb1JlcyA0NDQ0IFhRIGNvZGVjLiBFeHBvcnQgYSBtb3ZpZSB1
	c2luZyB0aGUgQXBwbGUgUHJvUmVzIDQ0NDQgY29kZWMuIEV4cG9ydCBhIG1vdmllIHVz
	aW5nIHRoZSBBcHBsZSBQcm9SZXMgNDIyIEhRIGNvZGVjLiBFeHBvcnQgYSBtb3ZpZSB1
	c2luZyB0aGUgQXBwbGUgUHJvUmVzIDQyMiBjb2RlYy4gRXhwb3J0IGEgbW92aWUgdXNp
	bmcgdGhlIEFwcGxlIFByb1JlcyA0MjIgTFQgY29kZWMuIEV4cG9ydCBhIG1vdmllIHVz
	aW5nIHRoZSBBcHBsZSBQcm9SZXMgNDIyIFByb3h5IGNvZGVjLiBFeHBvcnQgYSBtb3Zp
	ZSB1c2luZyB0aGUgSC4yNjQgY29kZWMuIFdhdmVmb3JtIEF1ZGlvIEZpbGUgRm9ybWF0
	LiBNUEVHLTEgTGF5ZXIgSUlJIEF1ZGlvIEZpbGUuIENvcmUgQXVkaW8gRmlsZSBzdWl0
	YWJsZSBmb3IgbG9vcHMuIEF1ZGlvIEludGVyY2hhbmdlIEZpbGUgRm9ybWF0LiBEb2xi
	eSBEaWdpdGFsIGF1ZGlvIGZpbGUuIE1QRUctNCBBQUMgYXVkaW8gZmlsZS4gRXhwb3J0
	IGEgbW92aWUgdXNpbmcgdGhlIFVuY29tcHJlc3NlZCA4LWJpdCA0OjI6MiBjb2RlYy4g
	RXhwb3J0IGEgbW92aWUgdXNpbmcgdGhlIFVuY29tcHJlc3NlZCAxMC1iaXQgNDoyOjIg
	Y29kZWMuXHsxMjgwLCAxMjgwfV8QJDM4QkYyMDYzLUM3MEUtNEEzMy1BNjMzLTI5ODgw
	MUJCOUIzNl8QIUZGUmVuZGVyRm9ybWF0SDI2NENvbXByZXNzZWRNb3ZpZd8QFAAaABwA
	ogCjAB4ApAAgAB8ADgAdACUAIQAiACQApQCmABgApwAZACMAKAAqAFwBpgEiAagBqQAn
	AK8BcQGtAXMAKAAnACcBsgGzAbQAJwEygBuAAIB4gFGAdoBpgA2ANIBlgGiAWIAbgA2A
	DYB3gHWAeYANgFBaVHVycGVudGluZdcADgA4ADkAOgA7ADwAPQC/AboAXQG7AbwBvQBm
	gCyAcYB0gGuAaghfEBBFeHBvcnRNb3ZpZVJvbGVz0gANAA4BwQBJoQHCgGyAEtMASwAN
	AA4BxQHIAFKiAcYBx4BtgG6iAckAKIBvgBuADl5DS1N0b21wU2V0dGluZ18QFUNLU3Rv
	bXBTZXR0aW5nRW5hYmxlZNUAVgAOAFcAWABZAEQAWwBcAF0B0gmADIAAgHBfEQVuPD94
	bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/
	PjxzZXR0aW5nIG5hbWU9IkguMjY0Ij48dmVyc2lvbj40MDk2MDA8L3ZlcnNpb24+PGRl
	c2NyaXB0aW9uPkV4cG9ydCUyMGElMjBtb3ZpZSUyMHVzaW5nJTIwdGhlJTIwSC4yNjQl
	MjBjb2RlYy48L2Rlc2NyaXB0aW9uPjxkZWZhdWx0LWRlc3RpbmF0aW9uPjwvZGVmYXVs
	dC1kZXN0aW5hdGlvbj48bmFtZUtleT5Db21wcmVzc2VkTW92aWVOYW1lS2V5PC9uYW1l
	S2V5PjxkZXNjcmlwdGlvbktleT5Db21wcmVzc2VkTW92aWVEZXNjS2V5PC9kZXNjcmlw
	dGlvbktleT48ZW5jb2RlciBuYW1lPSJFVVNTRW5jb2RlciI+PGF1ZGlvLWVuY29kZSBp
	c0VuYWJsZWQ9Im5vIi8+PHZpZGVvLWVuY29kZSBpc0VuYWJsZWQ9Im5vIi8+PGF1ZGlv
	LXZpZGVvLWVuY29kZSBpc0VuYWJsZWQ9Im5vIi8+PGZpbGUtZXh0ZW5zaW9uPm1vdjwv
	ZmlsZS1leHRlbnNpb24+PGpvYi1jYW4tYmUtc2VnbWVudGVkPm5vPC9qb2ItY2FuLWJl
	LXNlZ21lbnRlZD48ZHVyYXRpb24tY2hhbmdlIGZhY3Rvcj0iMTAwIiBuZXctZHVyYXRp
	b249IiIgc291cmNlLWF0LW91dHB1dD0ibm8iLz48bWFya2VyLWltYWdlIHdpZHRoPSIw
	IiBoZWlnaHQ9IjAiLz48ZW5jb2RlLWNjPnllczwvZW5jb2RlLWNjPjxlbmNvZGUtY2hh
	cHRlcnM+eWVzPC9lbmNvZGUtY2hhcHRlcnM+PGluY2x1ZGUtaGlkZGVuLW1ldGFkYXRh
	PnllczwvaW5jbHVkZS1oaWRkZW4tbWV0YWRhdGE+PG1ldGFkYXRhLW9wdGlvbnM+MTwv
	bWV0YWRhdGEtb3B0aW9ucz48dG9vbC1wYXRoPk5PVE9PTDwvdG9vbC1wYXRoPjxmYW1p
	bHktbmFtZT5ILjI2NDwvZmFtaWx5LW5hbWU+PGNvZGVjLXR5cGU+YXZjMTwvY29kZWMt
	dHlwZT48YWN0aXZlLW1lZGlhLXR5cGU+MzwvYWN0aXZlLW1lZGlhLXR5cGU+PC9lbmNv
	ZGVyPjxmaWx0ZXItc2V0Lz48Y3VzdG9tLWRhdGE+PCFbQ0RBVEFbUEQ5NGJXd2dkbVZ5
	YzJsdmJqMGlNUzR3SWlCbGJtTnZaR2x1WnowaVZWUkdMVGdpUHo0S1BDRkVUME5VV1ZC
	RklIQnNhWE4wSUZCVlFreEpReUFpTFM4dlFYQndiR1V2TDBSVVJDQlFURWxUVkNBeExq
	QXZMMFZPSWlBaWFIUjBjRG92TDNkM2R5NWhjSEJzWlM1amIyMHZSRlJFY3k5UWNtOXda
	WEowZVV4cGMzUXRNUzR3TG1SMFpDSStDanh3YkdsemRDQjJaWEp6YVc5dVBTSXhMakFp
	UGdvOFpHbGpkRDRLQ1R4clpYaytRMHREYjJ4dmNsTndZV05sVTJWMGRHbHVaMHRsZVR3
	dmEyVjVQZ29KUEhOMGNtbHVaejVTWldNdUlEY3dPVHd2YzNSeWFXNW5QZ284TDJScFkz
	UStDand2Y0d4cGMzUStDZz09XV0+PC9jdXN0b20tZGF0YT48c291cmNlLWluZm8tdWlk
	PjJCNUMzMEFCNkZFMkY3QzVENUNFNzRFN0RGNTlEMTc5PC9zb3VyY2UtaW5mby11aWQ+
	PC9zZXR0aW5nPtIAfQAOAdUBUYBygE3SAIEADgHYAVSAc4BMXxDMPD94bWwgdmVyc2lv
	bj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/Pjxqb2JBY3Rp
	b24ga2luZD0ib3BlbiIgbmFtZT0iTk9ORSIgZmxhZ3M9IjEiIGpvYi1jb3VudD0iMSIg
	ZGVmYXVsdC10aXRsZT0idGhlX3JpZmZfMjQwMjI4IiBkZWZhdWx0QXBwPSIvU3lzdGVt
	L0FwcGxpY2F0aW9ucy9RdWlja1RpbWUlMjBQbGF5ZXIuYXBwIi8+XxECt0V4cG9ydCBh
	IG1vdmllIGluIHRoZSBzYW1lIGZvcm1hdCBhcyB0aGUgb3JpZ2luYWwgcHJvamVjdC4g
	RXhwb3J0IGEgbW92aWUgdXNpbmcgdGhlIEFwcGxlIFByb1JlcyA0NDQ0IFhRIGNvZGVj
	LiBFeHBvcnQgYSBtb3ZpZSB1c2luZyB0aGUgQXBwbGUgUHJvUmVzIDQ0NDQgY29kZWMu
	IEV4cG9ydCBhIG1vdmllIHVzaW5nIHRoZSBBcHBsZSBQcm9SZXMgNDIyIEhRIGNvZGVj
	LiBFeHBvcnQgYSBtb3ZpZSB1c2luZyB0aGUgQXBwbGUgUHJvUmVzIDQyMiBjb2RlYy4g
	RXhwb3J0IGEgbW92aWUgdXNpbmcgdGhlIEFwcGxlIFByb1JlcyA0MjIgTFQgY29kZWMu
	IEV4cG9ydCBhIG1vdmllIHVzaW5nIHRoZSBBcHBsZSBQcm9SZXMgNDIyIFByb3h5IGNv
	ZGVjLiBFeHBvcnQgYSBtb3ZpZSB1c2luZyB0aGUgSC4yNjQgY29kZWMuIFdhdmVmb3Jt
	IEF1ZGlvIEZpbGUgRm9ybWF0LiBNUEVHLTEgTGF5ZXIgSUlJIEF1ZGlvIEZpbGUuIENv
	cmUgQXVkaW8gRmlsZSBzdWl0YWJsZSBmb3IgbG9vcHMuIEF1ZGlvIEludGVyY2hhbmdl
	IEZpbGUgRm9ybWF0LiBEb2xieSBEaWdpdGFsIGF1ZGlvIGZpbGUuIE1QRUctNCBBQUMg
	YXVkaW8gZmlsZS4gRXhwb3J0IGEgbW92aWUgdXNpbmcgdGhlIFVuY29tcHJlc3NlZCA4
	LWJpdCA0OjI6MiBjb2RlYy4gRXhwb3J0IGEgbW92aWUgdXNpbmcgdGhlIFVuY29tcHJl
	c3NlZCAxMC1iaXQgNDoyOjIgY29kZWMuXHsxMjgwLCAxMjgwfVVILjI2NF8QIUZGUmVu
	ZGVyRm9ybWF0SDI2NENvbXByZXNzZWRNb3ZpZVNXQVbSAGEAYgHhAeJeTlNNdXRhYmxl
	QXJyYXmjAeEAegBlAAgAGQAiACwAMQA6AD8AUQBWAFsAXQFWAVwBZQFwAXcBhAGGAYgB
	igGMAY4BkAGSAdEB9QIDAhoCMQJHAkwCWgJzAnsCgAKYAqMCvgLDAsUCxwLJAssCzQLP
	AtEC0wLVAtcC2QLbAt0C3wLhAuUC5gMDAwoDEgMeAysDMANUA1YDWANaA1wDXgNgA2ED
	agNvA3EDcwN1A4IDigOPA5EDkwOYA5oDnAOeA60DxQPaA+MD7QP6A/4D/wQBBAMEBQQH
	DEYMTwxaDGMMawxwDHkMegyDDJkMoAytDLoMvwzBDMMMyAzKDMwMzgzjDOQM5gzoDOoX
	ARcKFxIXFxcgFyoXLBcuFzcXQRdDF0UYuRjCGM8Y2BjlGPsZBRkOGR0ZKBk3GU8ZWxlk
	GdMZ3BnpGfAZ/RoHGg0aDhoVGjwaRRpdGmQafBqRGugbARsgGy0bRhtmG4YbiBuKG4wb
	jhuQG5IblBuWG5gbmhucG54boBuiG6QbphuoG6obrBuuG7sb0BvtG+8b8RvzG/Ub9xv4
	HAscFBwXHBkcGxwoHC0cLxwxHDYcOBw6HDwcSxxjHHgceRx7HH0cfyqxLUAtSS1fLWYt
	fC2TLaAtxy3JLeYuCi4OLhcuNy4+Ll4ucy7KLswuzi7QLtIu1C7WLtgu2i7cLt4u4C7i
	LuQu5i7oLuou7C7uLvAu8i8PLxEvEy8VLxcvGS8aLy0vNi85LzsvPS9KL08vUS9TL1gv
	Wi9cL14vcy90L3YveC96PaxAO0BTQGBAh0DeQOBA4kDkQOZA6EDqQOxA7kDwQPJA9ED2
	QPhA+kD8QP5BAEECQQRBBkETQTJBT0FRQVNBVUFXQVlBWkFtQXZBeUF7QX1BikGPQZFB
	k0GYQZpBnEGeQbNBtEG2QbhBuk7qTvNO9U73TwBPAk8ET8tP1E/iT+lP91AAUBJQG1At
	UDlS9FMHUwlTC1MYUz9TQVNMU3RTx1PJU8tTzVPPU9FT01PVU9dT2VPbU91T31PhU+NT
	5VPnU+lT61PtU/pUB1QkVCZUKFQqVCxULlQvVEJUS1ROVFBUUlRfVGRUZlRoVG1Ub1Rx
	VHNUiFSJVItUjVSPYsFiymLMYs5i12LZYttjsWZsZnlmoGbEZxdnGWcbZx1nH2chZyNn
	JWcnZylnK2ctZy9nMWczZzVnN2c5ZztnPWdIZ2VnZ2dpZ2tnbWdvZ3Bng2eMZ49nkWeT
	Z6BnpWenZ6lnrmewZ7JntGfDZ9tn8GfxZ/Nn9Wf3bWltcm10bXZtf22BbYNuUnENcRpx
	IHFEcUhxUXFgAAAAAAAAAgIAAAAAAAAB4wAAAAAAAAAAAAAAAAAAcWc=
	</data>
</dict>
</plist>
